// @include font-face('FuturaMedium', '../../../font/futura/FuturaBT-Medium');
// @include font-face('Hobo', '../../font/hobo/HoboStd');

#font-charger {
	left: -10000px;
	top: -10000px;
	position: absolute;
	@include opacity(0);
	#FuturaMedium {
		font-family: 'FuturaMedium';
	}
	#Hobo {
		font-family: 'Hobo';
	}
}