
html, body {
    padding: 0;
    margin: 0;
    font-family: "Apercu";
    background-color: white;
    letter-spacing: 0.88px;
    line-height: $globalLineHeight;
    background-color: $gray;
}

html, body {
    @extend .full;
}

#app-container  {
    
    // font smoothing
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);

    // disable text-selection & text cursor
    // @include user-select(none);
    cursor: default;

    // overall text params
    font-size: $globalFontSize;

    position: absolute;
    @extend .full;
}

#app-template {
    @extend .full;
}

#base-pager, #pages-container {
    @extend .full;
}

#pages-container {
    position: absolute;
    z-index: 10;
    & > div {
        @extend .full;
        position: absolute;
    }
}

.page-wrapper {
    position: absolute;
}

#legal-age {
    position: fixed;
    @extend .full;
    z-index: 9999999;
    background-image: url("media/bristol_texture.jpg");
    background-size: cover;
    .inside-container {
        position: relative;
        @extend .full;
        @include opacity(0);
    }
    .child {
        $size: 17px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 4% 16%;
        text-align: center;
        font-size: $size;
        line-height: $size;
        text-transform: uppercase;
        img {
            width: 120px;
        }
        p.title {
            padding-top: 40px;
            width: 400px;
        }
        .buttons-container {
            margin-top: 20px;
        }
        .legal-button {
            text-align: center;
            background-color: $gray;
            width: 56px;
            color: white;
            padding: 4px 0;
            @include inline-block;
        }
    }
}

#front-block {
    @extend .full;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    visibility: hidden;
}
