
html, body {
    padding: 0;
    margin: 0;
    @include courier();
    // font-family: "courier";
    letter-spacing: 0.88px;
    line-height: $globalLineHeight;
    background-color: $gray;
}

html, body {
    @extend .full;
    overflow: hidden;
}

#app-container  {
    
    // font smoothing
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);

    // disable text-selection & text cursor
    // @include user-select(none);
    cursor: default;

    // overall text params
    font-size: $globalFontSize;

    position: absolute;
    @extend .full;
}

#app-template {
    @extend .full;
}

#base-pager, #pages-container {
    @extend .full;
}

#pages-container {
    position: absolute;
    z-index: 10;
    & > div {
        @extend .full;
        position: absolute;
    }
}

.page-wrapper {
    position: absolute;
}

#legal-age {
    position: fixed;
    @extend .full;
    z-index: 9999999;
    .inside-container {
        position: relative;
        @extend .full;
        @include opacity(0);
    }
    #logo-wrapper {
        width: 200px * 0.6;
        height: 433px * 0.6;
        margin: 0;
        padding: 0;
        border: 0;
        position: relative;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-size: contain;
        background-origin: content-box;
        padding-top: 50px;
        padding-bottom: 70px;
        // top: -$overallMargin * 2;
    }
    .child {
        background-image: url("media/bristol_texture.jpg");
        $size: 17px;
        position: relative;
        background-color: white;
        text-align: center;
        font-size: $size;
        line-height: $size;
        text-transform: uppercase;
        max-width: $MQ_MEDIUM;
        margin: 0 auto;
        img {
            width: 120px;
        }
        p.title {
            padding-top: 40px;
            position: relative;
            top: -$overallMargin * 1.7;
        }
        .buttons-container {
            font-family: "Press";
            margin-top: 20px;
            font-size: 20px;
        }
        .legal-button {
            text-align: center;
            background-color: $gray;
            width: 56px;
            color: white;
            padding: 4px 0;
            position: relative;
            top: -$overallMargin;
            @include inline-block;
        }
    }
}

#front-block {
    @extend .full;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    visibility: hidden;
}
