// Custom vars
$min-middle-width: 960px;
$globalFontSize: 16px;
$overallMargin: 40px;
$globalLineHeight: 15.85px;
$iconsSize: 34px;

$PADDING_AROUND: 40px;
$SIDE_EVENT_PADDING: 120px;

// Breakpoints
$MQ_XSMALL: 320px;
$MQ_SMALL: 480px;
$MQ_MEDIUM: 768px;
$MQ_LARGE: 1024px;
$MQ_XLARGE: 1280px;
$MQ_XXLARGE: 1680px;

$MQ_HEIGHT_SMALL: 700px;

// Color
$white: #ffffff;
$black: #000000;
$gray: #232323;
$green: #1eea79;
$green-light: #83EBB2;
