<header id="header">
	<div class="menu">
		<ul>
			{{#menu}}
				<li class="btn" id={{id}}>
					<svg class="top" width="100%" viewBox="0 0 11.95 11.95"><circle cx="5.975" cy="5.975" r="5.85"/></svg>
					<svg class="bottom" width="100%" viewBox="0 0 11.95 11.95"><circle cx="5.975" cy="5.975" r="5.85"/></svg>
				</li>
			{{/menu}}
		</ul>
	</div>
</header>
