#home-page {
	@extend .full;
	.all-slides-container {
		position: absolute;
	}
	.slideshow {
		overflow: hidden;
		position: relative;
		@extend .full;
		.slides-container {
			@extend .full;
			@include simpleAnim(.6s, .0s, $easeOutExpo);
			@extend .top-left;
		}
		.title-container {
			@extend .top-left;
			line-height: 78px;
			text-align: center;
			position: absolute;
			font-size: 60px;
			color: white;
			z-index: 2;
		}
		.slide {
			position: absolute;
			@extend .top-left;
			@extend .full;
			overflow: hidden;
			img {
				position: absolute;
			}
		}
	}	
}