#home-page {
	@extend .full;
	position: absolute;
	overflow: hidden;
	#main-loader {
		position: absolute;
		z-index: 1;
		$size: 40px;
		width: $size;
		height: $size;
		@include opacity(1);
		@include anim(0s, 0s, $easeOutExpo, scale(1));
		&.remove {
			@include opacity(0);
			@include anim(0.6s, 0s, $easeOutExpo, scale(1.2));
		}
	}
	.all-slides-holder {
		overflow: hidden;
		position: absolute;
	}
	.all-slides-container {
		z-index: 2;
		position: relative;
	}
	.title {
		$fontsize: 124px;
		$lineheight: $fontsize;
		$letterspacing: 12px;
		font-family: 'Press';
		line-height: $lineheight;
		font-size: $fontsize;
		letter-spacing: $letterspacing;
		text-shadow: 1px 1px 9px rgba(0, 0, 0, 0.6);
		@include max-screen($MQ_MEDIUM) {
			$scale: 0.4;
			line-height: $lineheight * $scale;
			font-size: $fontsize * $scale;
			letter-spacing: $letterspacing * $scale;
		}
	}
	.slideshow {
		overflow: hidden;
		position: relative;
		@extend .full;
		.slides-container {
			@extend .full;
			@include simpleAnim(1s, .0s, $easeInOutQuart);
			@extend .top-left;
		}
		.title-container {
			@extend .top-left;
			text-align: center;
			position: absolute;
			color: white;
			z-index: 2;
			width: 100%;
			height: 100%;
			.vertical-center-child {
				padding: 0 60px;
			}
			p {
				text-shadow: 1px 1px 9px rgba(0, 0, 0, 0.6);

				@include courier();
				font-size: 21px;
				line-height: 30px;
				letter-spacing: 0px;
				position: relative;
				width: 50%;
				left: 25%;
				font-weight: bold;
				margin-top: $overallMargin / 2;
				@include max-screen($MQ_MEDIUM) {
					font-size: 16px;
					line-height: 24px;
					width: 90%;
					left: 5%;
				}
			}
		}
		.slide {
			position: absolute;
			@extend .top-left;
			@extend .full;
			overflow: hidden;
			img {
				position: absolute;
			}
		}
	}
	#logo-wrapper {
		width: $spriteW * 0.4;
		height: $spriteH * 0.4;
		margin: 0;
		padding: 0;
		border: 0;
		position: absolute;
	}
	.bottom-slide #logo-wrapper {
		position: relative;
		width: $spriteW * 0.4;
		height: 500px;
		top: -$overallMargin;
		margin: 0 auto;
	}
	.top-slide {
		position: relative;
		.video-holder video {
			position: absolute;
		}
		.arrow-holder {
			$scale: 1.1;
			$w: 32px * $scale;
			$h: 14px * $scale;
			width: $w;
			height: $h;
			position: absolute;
			bottom: $overallMargin;
			left: 50%;
			margin-left: -$w / 2;
			@include opacity(0);
			@include simpleAnim(1.1s, 0s, $easeOutExpo);
			&.active {
				@keyframes animOpacity {
					0%   { 
						opacity: 1; 
						@include transform(translateY(10px) scale(1.05));
					}
					80% { 
						opacity: 0.2;
						@include transform(translateY(-10px) scale(1));
					}
					100% { 
						opacity: 1;
						@include transform(translateY(10px) scale(1.05));
					}
				}
				@include simpleAnim(1.1s, 0s, $easeOutExpo);
				@include animation('animOpacity 1.0s infinite');
			}
		}	
	}
	.bottom-slide {
		text-align: center;
		position: relative;
		&.active {
			.background {
				@include opacity(0.8);
				@include simpleAnim(.8s, .0s, $easeOutQuint);
			}
		}
		.background {
			position: absolute;
			@include opacity(1);
			@include simpleAnim(.2s, .0s, $easeOutQuint);
		}
		.inside-container {
			position: absolute;
			@extend .full;
			@include max-screen($MQ_MEDIUM) {
				// top: - $overallMargin * 1.4;
			}
		}
		.social-holder {
			margin: 20px 0;
			position: relative;
			top: - $overallMargin;
			@include max-screen($MQ_MEDIUM) {
				width: 100%;
				top: - $overallMargin * 1.3;
			}
		}
		img.logo {
			$w: 123px;
			$h: 265px;
			$marginbottom: 50px;
			width: $w;
			height: $h;
			margin-bottom: $marginbottom;
			@include max-screen($MQ_MEDIUM) {
				$scale: 0.7;
				width: $w * $scale;
				height: $h * $scale;
				margin-bottom: $marginbottom * $scale;
			}
		}
		p.title {
			color: white;
			padding: 0 8%;
    		letter-spacing: 3px;
    		position: relative;
    		margin-bottom: 50px;
			@include max-screen($MQ_MEDIUM) {
				padding: 0 6%;
				margin-bottom: 70px;
			}
		}
		.social-holder {
			width: 100%;
			position: relative;
			a {
				$size: 38px;
				width: $size;
				height: $size;
				@include inline-block;
				padding: 0 5px;
				@include max-screen($MQ_MEDIUM) {
					$size: 28px;
					width: $size;
					height: $size;
				}
			}
			svg path {
				fill: white;
			}
		}
		p.moderation {
			$size: 14px;
			font-size: $size;
			@include courier();
			line-height: $size;
			font-weight: bold;
			color: white;
			position: relative;
			top: - $overallMargin * 0.8;
			text-transform: uppercase;
			@include max-screen($MQ_MEDIUM) {
				$size: 10px;
				font-size: $size;
				top: - $overallMargin * 1.2;
			}
		}
		p.distribution {
			text-transform: uppercase;
			$size: 14px;
			line-height: 20px;
			padding: 0 20px;
			a {
				font-size: $size;
				border-bottom: 2px solid $white;
			}
			margin-bottom: $overallMargin / 2;
		}
	}
	#blob-1,
	#blob-2,
	#blob-3,
	#blob-4,
	#blob-5,
	#blob-6,
	#blob-7,
	#blob-8,
	#blob-9 {
		position: absolute;
		// display: none;
		z-index: 99999;
	}

	#blob-1 {
		$w: 288px;
		$h: 309px;
		width: $w;
		height: $h;
		@include max-screen($MQ_LARGE) {
			width: $w * 0.8;
			height: $h * 0.8;
		}
	}
	#blob-2 {
		width: 167px;
		height: 164px;
	}
	#blob-3 {
		width: 468px;
		height: 219px;
	}
	#blob-4 {
		width: 268px;
		height: 196px;
	}
	#blob-5 {
		width: 389px;
		height: 164px;
	}
	#blob-6 {
		width: 759px;
		height: 264px;
	}

	#blob-container {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		z-index: 2;
		@include opacity(0.6);
		// @include opacity(0);
		visibility: hidden;
		// @include simpleAnim(.6s, .0s, $easeOutQuint);
		&.active {
			visibility: visible;	
			// @include simpleAnim(.6s, .0s, $easeOutQuint);
		}
	}

}